<html>
    <head>
        <meta charset="UTF-8">
        <title>Freelog - 自由的轻博客</title>
        <script src="__BOWER__/jquery/dist/jquery.min.js"></script>
        <script src="__BOWER__/bootstrap/dist/js/bootstrap.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="__CSS__/blog.css">
        <script type="text/javascript" src="__JS__/common.js"></script>

        <!-- Your site ends -->
        <block name="style"></block>
    </head>

    <body>
        <div class="message success" id="top-alert">
            <button type="button" class="close">&times;</button>
            <ul><li>插件已经被禁用</li></ul>
        </div>
        <div class="blog-masthead">
            <div class="container">
                <nav class="blog-nav">
                    <a class="blog-nav-item active" href="#">Home</a>
                    <a class="blog-nav-item" href="#">New features</a>
                    <a class="blog-nav-item" href="#">Press</a>
                    <a class="blog-nav-item" href="#">New hires</a>
                    <a class="blog-nav-item" href="#">About</a>
                </nav>
            </div>
        </div>

        <div class="container">
            <block name="header">
            <div class="blog-header">
                <h1 class="blog-title">The Bootstrap Blog</h1>
                <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
            </div>
            </block>
            <div class="row">
                <div class="col-sm-8 blog-main">
                    <block name="main"></block>
                </div><!-- /.blog-main -->

                <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                    <block name="sidebar"></block>
                </div><!-- /.blog-sidebar -->

            </div><!-- /.row -->

        </div><!-- /.container -->

        <footer class="blog-footer">
            <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            <p>
                <a href="#">Back to top</a>
            </p>
        </footer>
        <block name="script"></block>
    </body>
</html>
