<extend name="Index/base" />

<block name="header">
<div class="blog-header">
	<h4>{$title|default=""}</h4>
</div>
</block>

<block name="main">
	<assign name="tpl" value="$post.type"/>
	<switch name="tpl">
		<case value="text"><include file="Detail/text" /></case>
		<case value="picture"><include file="Detail/picture" /></case>
		<case value="music"><include file="Detail/music" /></case>
		<case value="video"><include file="Detail/video" /></case>
	</switch>
	<eq name="Think.const.CONTROLLER_NAME" value="Post"></eq>
	<div class="" id="comment">
		<!-- UY BEGIN -->
        <div id="uyan_frame"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid={:C('comment_uid_youyan')}"></script>
        <!-- UY END -->
	</div>
</block>

<block name="sidebar">
<div class="sidebar-module sidebar-module-inset">
	<h4>相关信息</h4>
	<ul class="list-unstyled">
		<li>浏览数：{$post.views}</li>
		<li>更新于：{$post.update_at}</li>
	</ul>
</div>
<?php if ($post['type']== 'music' && count($post['content']) >1): ?>
<div class="sidebar-module">
<div class="shortcuts">
	<div>
		<h1>Keyboard shortcuts:</h1>
		<p><em>&rarr;</em> Next track</p>
		<p><em>&larr;</em> Previous track</p>
		<p><em>Space</em> Play/pause</p>
	</div>
</div>
</div>
<?php endif ?>
</block>

<block name="style">
	<script src="__STATIC__/swipebox/js/jquery.swipebox.js"></script>
	<link rel="stylesheet" href="__STATIC__/swipebox/css/swipebox.css">
	<script type="text/javascript">
	$(function(){
		$('body').attr('id', '{$post.type}');
	});
	</script>
</block>
