<extend name="Index/base" />

<block name="header">
<div class="blog-header">
	<h4>{$title|default=""}</h4>
</div>
</block>

<block name="main">
	<volist name="list" id="post" key="post_k">
		<assign name="tpl" value="$post.type"/>
		<switch name="tpl">
			<case value="text"><include file="Index/text" /></case>
			<case value="picture"><include file="Index/picture" /></case>
			<case value="music"><include file="Index/music" /></case>
			<case value="video"><include file="Index/video" /></case>
		</switch>
	</volist>
	<empty name="list">
	<div class="text-center">
		<img src="__IMG__/logo-grey.png" alt="" width="135">
		<br><br>
			对不起，没有相应的文章
	</div>
	</empty>
	{$_page}
</block>

<block name="sidebar">
	<include file="Index/post_btn" />
	<div class="sidebar-module sidebar-module-inset">
		<h4>热门标签</h4>
		<ul class="list-unstyled side-tracked-tag">
			<volist name="tags" id="tag">
			<li>
				<a class="followed-tag clearfix" href="{:U('/')}?tag={$tag['title']}">
					<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
					&nbsp;&nbsp;
					<span class="">{$tag.title}</span>
				</a>
			</li>
			</volist>
		</ul>
	</div>

	<div class="sidebar-module">
		<h4>归档</h4>
		<ol class="list-unstyled">
			<volist name="archive" id="vo">
			<li><a href="{:U($vo['link'])}">{$vo.text}</a></li>
			</volist>
		</ol>
	</div>
</block>

<block name="script">
	<script type="text/javascript" src="__BOWER__/audiojs/audiojs/audio.min.js"></script>

	<script src="__STATIC__/swipebox/js/jquery.swipebox.js"></script>
	<link rel="stylesheet" href="__STATIC__/swipebox/css/swipebox.css">

	<script type="text/javascript">
		$(function(){
			var single = audiojs;
			single.events.ready(function() {
				var a1 = single.createAll('', $('.single audio'));
			});

			//图片灯箱
			$( '.swipebox' ).swipebox();
		})
	</script>
</block>
