<div class="blog-post music">
	<h2 class="blog-post-title"></h2>
	<p class="blog-post-meta">{$post.update_at|friendly_datetime} by <a href="#">{$post.member_id|get_nickname_by_uid}</a></p>
	<if condition="1 == count($post['content'])">
		<p class="blog-post-content single">
			<audio src="{$post.content.0.id|get_file}" preload="false"></audio>
			<div class="track-details">
			  {$post.content.0.title}
			</div>
		</p>
	<else/>
		<volist name="post.content" id="music">
			<p class="blog-post-content single">
				<audio src="{$music.id|get_file}" preload="false"></audio>
				<div class="track-details">
				  {$music.title}
				</div>
			</p>
		</volist>
	</if>
	<present name="post.description">{$post.description|htmlspecialchars_decode}</present>
	<section>
		<neq name="Think.const.CONTROLLER_NAME" value="Post">
		<a href="{:U('/Post/'.$post['id'])}" class="more" target="_blank">未完，继续阅读→</a>
		<?php if (is_login() && is_login() == $post['member_id']): ?>
		<a href="/api.php/post/{$post.id}" class="ajax-delete confirm">删除</a>
		<?php endif ?>
		<br>
		<br>
		</neq>
		{$post.tags|get_tag}
	</section>
</div>