<div class="blog-post video">
	<p class="blog-post-meta">{$post.update_at|friendly_datetime} by <a href="#">{$post.member_id}</a></p>
	<section>
		<eq name="post.content.video_id" value="0">
			<embed type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" src="{$post.content.video_url}" width="617" height="480" wmode="transparent" play="true" loop="false" menu="false" allowscriptaccess="never" allowfullscreen="true">
		<else/>
		<video src="{$post.content.video_url}" controls="controls" poster="{$post.content.cover|get_cover}" width="617"></video>
		</eq>
	</section>
	<section class="blog-post-content">
		{$post.description|htmlspecialchars_decode}
	</section>
	<section>
		<neq name="Think.const.CONTROLLER_NAME" value="Post">
		<a href="{:U('/Post/'.$post['id'])}" class="more" target="_blank">未完，继续阅读→</a>
		<br>
		<br>
		</neq>
		{$post.tags|get_tag}
	</section>
</div>