<extend name="Public:base" />

<block name="body">
    <div class="location cf">
        <h2>
            配置排序 [ <a href="{$Think.cookie.__forward__}">返回列表</a> ]
        </h2>
    </div>
    <div class="sort">
        <form action="{:U('sort')}" method="post">
            <div class="sort_center clearfix">
                <div class="sort_option pull-left">
                    <select value="" size="8" class="form-control mb10">
                        <volist name="list" id="vo">
                            <option class="ids" title="{$vo.title}" value="{$vo.id}">{$vo.title}</option>
                        </volist>
                    </select>
                </div>
                <div class="pull-left">
                    <button class="top" type="button">第 一</button>
                    <button class="up" type="button">上 移</button>
                    <button class="down" type="button">下 移</button>
                    <button class="bottom" type="button">最 后</button>
                </div>
            </div>
            <div class="sort_bottom">
                <input type="hidden" name="ids">
                <button class="sort_confirm primary" type="submit">确 定</button>
                <button class="sort_cancel" type="button" url="{$Think.cookie.__forward__}">返 回</button>
            </div>
        </form>
    </div>
</block>

<block name="js">
<script type="text/javascript">
    sort();
    function sort(){
        $('option').text(function(){return ($(this).index()+1)+'.'+$(this).text()});
    }

    //重置所有option文字。
    function rest(){
        $('option').text(function(){
            return $(this).text().split('.')[1]
        });
    }
    $(function(){
        $(".top").click(function(){
            rest();
            $("option:selected").prependTo("select");
            sort();
        })
        $(".bottom").click(function(){
            rest();
            $("option:selected").appendTo("select");
            sort();
        })
        $(".up").click(function(){
            rest();
            $("option:selected").after($("option:selected").prev());
            sort();
        })
        $(".down").click(function(){
            rest();
            $("option:selected").before($("option:selected").next());
            sort();
        })
        $(".search").click(function(){
            var v = $("input").val();
            $("option:contains("+v+")").attr('selected','selected');
        })


        //获取排序并提交
        $('.sort_confirm').click(function(){
            var arr = new Array();
            $('.ids').each(function(){
                arr.push($(this).val());
            });
            $('input[name=ids]').val(arr.join(','));
            $.post(
                $('form').attr('action'),
                {
                'ids' :  arr.join(',')
                },
                function(data){
                    if (data.status) {
                        $.thinkbox.success(data.info + ' 页面即将自动跳转~','alert-success');
                    }else{
                        $.thinkbox.error(data.info,'alert-success');
                    }
                    setTimeout(function(){
                        if (data.status) {
                            $('.sort_cancel').click();
                        }
                    },1500);
                },
                'json'
            );
        });

        //点击取消按钮
        $('.sort_cancel').click(function(){
            window.location.href = $(this).attr('url');
        });
    })
    </script>
</block>
