<extend name="Public/base" />

<block name="body">
    <div class="main-title location">
        <h2>文件</h2>
    </div>
    <div class="data-table table-striped"></div>
    <div class="typecho-table-wrap">
    <table class="table table-hover" id="del_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>原始名</th>
                <th>后缀</th>
                <th>路径</th>
                <th>大小</th>
                <th>上传时间</th>
            </tr>
        </thead>
        <tbody>
            <notempty name="list">
            <volist name="list" id="file">
                <tr>
                    <td>{$file.id}</td>
                    <td>{$file.savename}</td>
                    <td>{$file.ext}</td>
                    <td><a href="{$file.path}" target="_blank">{$file.path}</a></td>
                    <td>{$file.size|format_bytes}</td>
                    <td>{$file.create_time|date="Y-m-d h:i:s",###}</td>
                </tr>
            </volist>
            <else/>
            <td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
            </notempty>
        </tbody>
    </table>
    </div>
    <!-- 分页 -->
    <div class="pagination">
        <div class="pull-right">
        {$_page}
        </div>
    </div>
</block>