<html>
    <head>
        <meta charset="UTF-8">
        <title>Freelog - 自由的轻博客</title>
        <script src="__BOWER__/jquery/dist/jquery.min.js"></script>
        <script src="__BOWER__/bootstrap/dist/js/bootstrap.min.js"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="__CSS__/blog.css">
        <script type="text/javascript" src="__JS__/common.js"></script>
        <link rel="stylesheet" href="__BOWER__/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
        <script type="text/javascript" src="__BOWER__/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="__BOWER__/smalot-bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
        <link rel="stylesheet" href="__BOWER__/jqnotifybar/css/jquery.notifyBar.css">
        <script type="text/javascript" src="__BOWER__/jqnotifybar/jquery.notifyBar.js"></script>

        <script src="__BOWER__/jquery.tagsinput/jquery.tagsinput.js"></script>
        <link rel="stylesheet" href="__BOWER__/jquery.tagsinput/jquery.tagsinput.css" />

        <script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.js"></script>
        <!-- 编辑器源码文件 -->
        <script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.js"></script>
        <!-- 实例化编辑器 -->
        <!-- Your site ends -->
        <block name="style"></block>
    </head>

    <body>
        <div class="blog-masthead">
            <div class="container">
                <nav class="blog-nav">
                    <a class="blog-nav-item active" href="#">Home</a>
                    <a class="blog-nav-item" href="#">New features</a>
                    <a class="blog-nav-item" href="#">Press</a>
                    <a class="blog-nav-item" href="#">New hires</a>
                    <a class="blog-nav-item" href="#">About</a>
                </nav>
            </div>
        </div>

        <div class="container">
            <block name="header"></block>
            <div class="row">
                <form class="post">
                <div class="col-sm-8 blog-main">
                    <block name="main"></block>
                </div><!-- /.blog-main -->

                <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                    <block name="sidebar">
                        <div class="sidebar-module sidebar-module-inset">
                            <h4>选项</h4>
                            <form>
                                <div class="form-group">
                                    <label for="title">发布时间</label>
                                    <select name="create_time_choose" class="form-control hide-data" id="create_time_choose">
                                        <option value="now">现在发布</option>
                                        <option value="choose">定时发布</option>
                                    </select>
                                </div>
                                <div class="form-group input-group hidden">
                                    <input type="datetime" name="deadline" class="form-control hide-data" id="deadline">
                                    <span class="input-group-addon glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                </div>

                                <div class="form-group">
                                    <textarea name="tags" id="tags" placeholder="添加标签，用逗号或回车分割" class="form-control hide-data" style="height:90px"></textarea>
                                </div>
                            </form>
                        </div>
                        <script type="text/javascript">
                            $(function(){
                                //发布时间切换
                                $('#create_time_choose').on('change', function(){
                                    var choosen = this.value;
                                    if('choose' == choosen)
                                        $('#deadline').parent().removeClass('hidden');
                                    else
                                        $('#deadline').parent().addClass('hidden');
                                });

                                //定时使用支持 日期 小时 分钟选择
                                $('#deadline').datetimepicker({
                                    format: 'yyyy-mm-dd hh:ii',
                                    autoclose: true,
                                    language: 'zh-CN'
                                });

                                //标签
                                $('#tags').tagsInput({
                                    'height':'90px',
                                    'width':'211px',
                                    'defaultText': '添加标签'
                                });

                            })
                        </script>
                    </block>
                </div><!-- /.blog-sidebar -->
                </form>
            </div><!-- /.row -->

        </div><!-- /.container -->

        <footer class="blog-footer">
            <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            <p>
                <a href="#">Back to top</a>
            </p>
        </footer>
        <block name="script"></block>
    </body>
</html>
