<textarea name="[form_name]" id="[form_name]" cols="30" rows="15" class="form-control hide-data">[form_value]</textarea>
<!-- 实例化编辑器 -->
<script type="text/javascript">
$(function(){
	var ue_[form_name] = UE.getEditor('[form_name]',{
		serverUrl :'{:U('Home/Upload/ueditor')}',
		toolbars: [
			[
				'bold', 'underline', 'strikethrough', '|', 'music',
				'justifyleft', 'justifycenter', 'justifyright', '|',
				'insertorderedlist', 'insertunorderedlist','blockquote', '|',
				'insertimage','link', 'unlink', '|',
				'pagebreak', 'source', 'insertcode','|',
				'help','fullscreen'
			]
		],
		elementPathEnabled : false,
		initialFrameHeight: [height],
		minFrameHeight: [height],
		autoHeightEnabled: false
	});
})
</script>