<extend name="Post/base" />

<block name="header">
<div class="blog-header">
    <h1 class="blog-title">发布音乐</h1>
</div>
</block>

<block name="main">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    </div>
    <div class="hide" id="loading_tpl">
        <div class="modal-dialog wt400">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">正从网上获取音乐列表：</h4>
                </div>
                <div class="modal-body">
                    正在解析中...
                    <div class="progress progress-striped active">
                        <div class="progress-bar" style="width: 1%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-post" id="music">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-btn">
                    <include file="Post/video_up" button_text="上传" file_type_desc="mp3 files" file_type_exts="*.mp3" target="Upload/ajaxUpload" upload_callback="uploadMusic" btn_width="70" btn_height="34" model="file" field="file" size="50MB" />
                </div>
                <input type="text" name="url" class="form-control" id="exampleInputAmount" placeholder="输入歌手/歌曲/专辑，搜索您感兴趣的音乐！">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" data-loading-text="正在搜索中..." action="query=" id="search_form">百度一下<i class="glyphicon glyphicon-search ml4"></i></button>
                </div>
            </div>
        </div>

        <ul id="music_list" class="form-inline"></ul>

        <div class="form-group">
            <label for="content">描述</label>
            <include file="Post/editor" form_name="description" form_value="" height="112" />
        </div>
        <div class="form-group">
            <input type="hidden" name="id" value="{$id|default=0}" class="hide-data">
            <input type="hidden" name="type" value="{$type}" class="hide-data">
            <input type="hidden" name="member_id" value="{:is_login()}" class="hide-data">
            <a class="btn btn-default pull-left" href="{:U('/')}">取消</a>
            <button type="button" class="btn btn-primary pull-right ajax-post no-refresh" hide-data="true" target-form="post" href="/api.php/post">保存</button>
        </div>
    </div><!-- /.blog-post -->
    <script type="text/javascript">
    $(function(){
        $('#search_form').on('click',function() {
            if (!is_login) {
                notify('请先登录');
                return false;
            }
            var $search = $(this).closest('.form-group').find('[name=url]');
            var search = $search.val();
            console.log(search);
            search = $.trim(search);
            if (search == '')
                return false;
            $('#myModal').html($('#loading_tpl').html());
            var bar = $('#myModal .progress-bar');
            var process = setInterval(function() {
                bar.width(function(n, c) {
                    return c + 10;
                });
            }, 1000);
            var $btn = $(this);
            $btn.button('loading');
            $('#myModal').modal('show');
            var playerUrl = "http://box.baidu.com/widget/flash/bdspacesong.swf";
            $.ajax({
                url: '{:U('Post/parseMusic')}',
                type: 'get',
                data:{
                    query: search
                },
                success: function(data) {
                    clearInterval(process);
                    bar.width('670');
                    if (null != data && data.song_list.length){
                        function _removeHtml (str) {
                            var reg = /<\s*\/?\s*[^>]*\s*>/gi;
                            return str.replace(reg, "");
                        }

                        function buildUrl(selectedItem){
                            var playerUrl = 'http://box.baidu.com/widget/flash/bdspacesong.swf';
                            var param = 'from=tiebasongwidget&url=&name=' + encodeURIComponent(_removeHtml(selectedItem.title)) + '&artist='+ encodeURIComponent(_removeHtml(selectedItem.author)) + '&extra='+ encodeURIComponent(_removeHtml(selectedItem.album_title))+ '&autoPlay=false&loop=true';
                            playerUrl += "?" + param;
                            return playerUrl;
                        }

                        function queryParams(){
                            return {
                                type: 'owner',
                                sort: 'updated',
                                direction: 'desc',
                                per_page: 100,
                                page: 1
                            };
                        }

                        $table = $('#table');
                        function try_it(value, row, index){
                            return '<a class="m-try" data-index="'+index+'"></a>';
                        }

                        $('#myModal .modal-body').html(
                            [
                            '<table id="table" data-classes="table table-hover table-condensed" data-striped="true" data-click-to-select="true" data-select-item-name="choose" data-query-params="queryParams" data-pagination="true" data-height="300">',
                            '</table>',
                            '<div id="J_preview"></div>',
                            '<button id="add_net_search_music" class="col-md-offset-10 btn btn-primary" type="button">添 加</button>'
                            ].join('')
                        );
                        $('#myModal #add_net_search_music').on('click',function(){
                            if($('#myModal tr.selected').length){
                                var selectedItem = data.song_list[$('#myModal tr.selected').data('index')];
                                console.log(selectedItem);
                                var music_data = {
                                    id:0,
                                    title: _removeHtml(selectedItem.title),
                                    name: buildUrl(selectedItem),
                                    status:1
                                };
                                uploadMusic(null, JSON.stringify(music_data));
                                $('#myModal').modal('hide');
                            }else{
                                notify('请选择一首音乐，如果想取消操作，请点击弹窗又上角的关闭');
                            }
                            return false;
                        });
                        $('#table').bootstrapTable({
                            columns: [
                            {
                                field: 'state',
                                radio: 'true'
                            },
                            {
                                field: 'title',
                                title: '歌曲'
                            }, {
                                field: 'author',
                                title: '歌手'
                            }, {
                                field: 'album_title',
                                title: '专辑'
                            }, {
                                field: 'song_id',
                                formatter: try_it,
                                title: '试听'
                            }],
                            data: data.song_list
                        }).on('post-header.bs.table', function (e, name, arg) {
                            $('tr>td>a', $(this)).on('click',function(event) {
                                $this = $(this);
                                $preview = $('#J_preview');
                                $this.toggleClass('m-trying');
                                if(!$this.hasClass('m-trying')){
                                    $preview.html('');
                                }else{
                                    var index = $this.data('index');
                                    var selectedItem = data.song_list[index];
                                    var playerUrl = buildUrl(selectedItem);
                                    //添加播放的flash
                                    $preview.html(
                                       '<embed class="BDE_try_Music" allowfullscreen="false" pluginspage="http://www.macromedia.com/go/getflashplayer" src="' + playerUrl + '" width=1 height=1 style="position:absolute;left:-2000px;" type="application/x-shockwave-flash" wmode="transparent" play="true" loop="false" menu="false" allowscriptaccess="never" scale="noborder">'
                                    );
                                }
                            });
                        });
                    }else{
                        $('#myModal .modal-body').html('<div class="empty">未搜索到相关音乐结果，请换一个关键词试试。</div>');
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    $('#myModal .modal-body').html('网络出错了');
                },
                complete: function(XMLHttpRequest, textStatus) {
                    $btn.button('reset');
                }
            });
            return false;
        });
    });
    </script>
</block>

<block name="style">
    <link rel="stylesheet" type="text/css" href="__BOWER__/uploadify/uploadify.css"/>
    <script src="__BOWER__/uploadify/jquery.uploadify.js" type="text/javascript"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="__BOWER__/bootstrap-table/dist/bootstrap-table.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="__BOWER__/bootstrap-table/dist/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="__BOWER__/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
</block>
