<extend name="Post/base" />

<block name="header">
<div class="blog-header">
    <h1 class="blog-title">发布文字</h1>
</div>
</block>
<block name="main">
    <div class="blog-post" id="text">
        <div class="form-group">
            <label for="title">标题 <span class="optional">(可不填)</span></label>
            <input type="text" class="form-control hide-data" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="content">内容</label>
            <include file="Post/editor" form_name="content" form_value="" height="286" />
        </div>
        <div class="form-group">
            <input type="hidden" name="type" value="{$type}" class="hide-data">
            <button class="btn btn-default pull-left">取消</button>
            <button type="button" class="btn btn-primary pull-right ajax-post no-refresh" hide-data="true" target-form="post" href="/api.php/post">保存</button>
        </div>
    </div><!-- /.blog-post -->
    <script type="text/javascript">
    $(function(){

    })
    </script>
</block>

<block name="script">

</block>
