<div class="form-controls">
    <input type="file" id="upload_picture_file_upload" style="width:44px">
    <input type="hidden" name="cover_id" id="cover_id_file_upload" />
</div>
<script type="text/javascript">
    <present name="record">
    var no_pic =  '{$record.cover_id|get_cover="path"}' || '__PUBLIC__/images/no-cover.png';
    <else />
    var no_pic =  '__PUBLIC__/images/no-cover.png';
    </present>
    var uploadify_swf = '__BOWER__/uploadify/uploadify.swf';
    //上传图片
    /* 初始化上传插件 */
    $(function(){
        $("#upload_picture_file_upload").uploadify({
            "width"           : [btn_width]||200,
            "height"          : [btn_height]||150,
            "buttonImage"     : '__PUBLIC__/images/video_up_btn.png',
            "multi": false,
            "swf"             : uploadify_swf,
            "fileObjName"     : "cover",
            "buttonText"      : "[button_text]",
            'buttonClass'     : "btn_upload",
            "formData": {
                'session_id': '{:session_id()}',
                'ajax': 1,
                'params[model]': '[model]',
                'params[field]': '[field]',
            },
            "uploader"        : "{:U('[target]')}",
            "removeCompleted": true,
            "removeTimeout"   : 1,
            "fileSizeLimit": '[size]',
            "fileTypeDesc": '[file_type_desc]',
            "fileTypeExts"    : '[file_type_exts]',
            "onFallback" : function() {
                notify("未检测到兼容版本的Flash");
            },
            "onUploadSuccess" : [upload_callback],
            "onUploadError": function(file, errorCode, errorMsg, errorString) {
                var msg = '<a title="' + errorString + '">上传失败<a/>';
                notifyr(msg);
            }
        });
    });
    function uploadPicturefile_upload(file, data){
        console.log(data);
        var data = $.parseJSON(data);

        var src = '';
        if(data.status){
            $("#cover_id_file_upload").val(data.id);
            src = data.url || '__ROOT__' + data.path;
            $("#upload_picture_file_upload").uploadify('settings', 'buttonImage', src);
        } else {
            notify(data.info);
        }
    }

    function uploadVideofile_upload(file, data){
        console.log(data);
        var data = $.parseJSON(data);
        $('#ajaxReturn').load('/Post/afterUpload', function(){
            $(this).find('[name="content[video_id]"]').val(data.id);
            var src = data.url || '__ROOT__' + data.path;
            $(this).find('[name="content[video_url]"]').val(src);

            $("#cover_upload").uploadify({
                "height"          : 150,
                "swf"             : uploadify_swf,
                "fileObjName"     : "cover_upload",
                "buttonText"      : "视频封面",
                "buttonImage"     : no_pic,
                "queueSizeLimit" : 1,
                "uploader"        : "{:U('/Upload/ajaxUpload')}",
                "width"           : 200,
                "formData"        : {
                    'session_id':'{:session_id()}',
                    'ajax': 1,
                    'params[model]': 'picture',
                    'params[field]': 'cover_upload',
                },
                "removeTimeout"   : 1,
                "fileTypeExts"    : "*.jpg; *.png; *.gif;",
                "onFallback" : function() {
                alert('未检测到兼容版本的Flash.');
                },
                "onUploadSuccess" : uploadPicture
            });
            function uploadPicture(file, data){
                console.log(data)
                var data = $.parseJSON(data);
                if (data.status){
                    var src = data.url || '__ROOT__' + data.path;
                    $video_modal.find('[name=cover]').val(src);
                    $("#cover_upload").uploadify('settings', 'buttonImage', src);
                } else {
                    alert(data.info);
                }
            };

        });
    }
</script>
